<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container pl-10 pr-10">
      <%= render 'helper/menu' %>
      <main class="container mx-auto mt-28 px-5 flex">
        <%= yield %>
      </main>
      <%= render 'helper/footer' %> 
    </div>
  </body>
</html>
